<h1>CASAA Legislative Listr</h1>

<div id="question">
  <p>What do you want to search for?</p>
  <form class="search ui-form">
    <p><input type="text" size="50">
      <select class="select-state">
        <optgroup label="Select a state">
          <option value="" selected>All States</option>
          <option value="AK">AK - Alaska</option>
          <option value="AZ">AZ - Arizona</option>
          <option value="CA">CA - California</option>
          <option value="CT">CT - Connecticut</option>
          <option value="DC">DC - District of Columbia</option>
          <option value="FL">FL - Florida</option>
          <option value="IN">IN - Indiana</option>
          <option value="LA">LA - Louisiana</option>
          <option value="MD">MD - Maryland</option>
          <option value="MI">MI - Michigan</option>
          <option value="MN">MN - Minnesota</option>
          <option value="MS">MS - Mississippi</option>
          <option value="NC">NC - North Carolina</option>
          <option value="NJ">NJ - New Jersey</option>
          <option value="NV">NV - Nevada</option>
          <option value="OH">OH - Ohio</option>
          <option value="PA">PA - Pennsylvania</option>
          <option value="SD">SD - South Dakota</option>
          <option value="TX">TX - Texas</option>
          <option value="UT">UT - Utah</option>
          <option value="VA">VA - Virginia</option>
          <option value="VT">VT - Vermont</option>
          <option value="WA">WA - Washington</option>
          <option value="WI">WI - Wisconsin</option>
        </optgroup>
      </select>
      <button>Search</button>
      <img src="img/ajax-loader.gif" alt="Loading..." class="throbber" style="display: none;">
    </p>
  </form>
</div>
<div class="state-info"></div>
<div id="answer"></div>